  <div ng-controller="LoginController as login">

      <p>email <input type="text" ng-model="username"> equals {{login.username}}</p>
      <p>password <input type="password" ng-model="password"> equals {{login.password}}</p>

      <button ng-click="login.send(username, password)" class="btn btn-primary" type="button">Send</button>
  </div>

  <div ng-show="loginSuccess">
    Dobrodosli!
  </div>
