
<head>
  <link rel="stylesheet" type="text/css" href="../looks/css/css.css">
  <title>Witcher 3 Bestiary</title>
</head>
<body class="body-redirect" ng-controller="RedirectController as redirect">
  <div>
  <img src="../looks/img/medallion.jpg" class="img-medallion">
  <img src="../looks/img/logo.png" class="img-logo">
  <img src="../looks/img/wandciri.jpg" class="img-wandciri"></div>
  <div class="div-echo-1" id="searexit" style="overflow-y:scroll; overflow-x:hidden;">
   <div class="div-echo">
  <table class="table-bordered table-responsive table tablica">
    <thead>
    <tr class="main">
      <td>Username</td>
      <td>Name</td>
      <td class="td-dl">Description</td>
      <td class="td-dl">Lore</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in list.users">
      <td>{{user.username}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.Description}}</td>
      <td>{{user.Lore}}</td>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
