<head>
  <link rel="stylesheet" type="text/css" href="./looks/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./looks/css/css.css">
</head>


<div class="cnt-reg" ng-controller="RegisterController as register">
<div class="cnt-reg-down">
    <h1>REGISTER</h1>
    <p><input type="text" ng-model="username" placeholder="Username"></p>
    <p><input type="password" ng-model="password" placeholder="Password"></p>
    <button class="cnt-reg-button" ng-click="register.send(username, password)" type="button">Send</button>
  </div>
  <br>
  <br>
  	<div class="alert alert-danger" ng-show="registerSuccess == false">
  		<strong>User already in database!</strong>
	</div>

	<div class="alert alert-success" ng-show="registerSuccess">
  		<strong>Succesfully registered!</strong>
	</div>
</div>
