
<div ng-controller="NemojController as unos">
	<input class="form-control" placeholder="Name" id="masa" type="text" ng-model="name" id="name"><br> 
	<input class="form-control" placeholder="Description" id="masa" type="text" ng-model="desc" id="desc"><br> 
	<input class="form-control" placeholder="Lore" id="masa" type="text" ng-model="lore" id="lore"><br> 

		<div ng-show="username == null" class="alert alert-danger">
  			<strong>You have to be logged in to submit your entry!</strong>
		</div>

		<button ng-hide="username == null" class="btn btn-primary" ng-click="unos.send(name, desc , lore)">Submit!</button><br><br>
</div>
