<!DOCTYPE html>
<html ng-app="projekt">
<head>
  <link rel="stylesheet" type="text/css" href="/looks/css/bootstrap.css">
  <script src="/js/angular.js"></script>
  <script src="/js/app_frontend.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/list.js"></script>
  
  <title>Index Page</title>
</head>
<body ng-cloak class="body-index">

<div ng-controller="MainController as main">
  <a ng-click="main.toggleView('register.html')">Register</a>
  <a ng-click="main.toggleView('login.html')">Login</a>
  <a ng-click="main.toggleView('list.html')">List</a>
  <a ng-click="main.toggleView('redirect.html')">Redirect</a>
  <a ng-click="main.toggleView('unos.html')">Unos</a>


<div ng-include="main.presentedView"></div>

</div>

</body>
</html>