.img-medallion{
	width: 15%;
	float: left;
}
.img-logo{
	width: 15%;
	margin-left: 24%;
}
.img-wandciri{
	width: 26%;
	float: right;
}
.css-bckg-html{
	background-color: black;
}
.div-form{
	margin-left: 33%;
	margin-top: 15%;
	color: white;
	font-size: 20;
	font-family: Comic;
}
.div-echo-1{
	margin-top: 10%;
}
.div-echo{
	height: 60%;
	color: white;
}
.tablica{
	background-color: white;
	color: black;
}
.css-body{
	background-color: black;
}
.td-dl{
	width: 45%;
}
.cnt-reg{
	background-color: white; 
}
.cnt-reg-down{
	margin-left: 40%;
}
.cnt-reg-button{
	background-color: black;
	color: white;
	font: arial;
	font-style: bold;
}
.body-index, .body-redirect{
	background-color: black;
}